* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif;
  background-color: black;
  background-image: url(https://raw.githubusercontent.com/sallitto/proyectoCoderHouse/refs/heads/main/img/fondoBody.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}

/*Utilizacion de variables*/
.contenedor_gral {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-template-areas: "header header header" "nav nav nav" "div_izq main div_der" "footer footer footer";
  margin: 0px 20px;
}
.contenedor_gral .header {
  grid-area: header;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor_gral .header .titulo {
  font-family: "Rubik Wet Paint", system-ui;
  color: rgb(28, 218, 231);
  padding-top: 50px;
  font-style: oblique;
}
.contenedor_gral .header .img_logoIzq {
  padding-top: 10px;
  height: 150px;
}
.contenedor_gral .header .img_logoDer {
  padding-top: 10px;
  height: 150px;
}
.contenedor_gral .div_izq {
  grid-area: div_izq;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 20px;
  align-content: center;
  justify-self: center;
}
.contenedor_gral .nav_gral {
  grid-area: nav;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 20px;
  display: flex;
  justify-content: space-around;
}
.contenedor_gral .nav_gral .nav_menu {
  margin: 20px;
  display: flex;
  gap: 100px;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.contenedor_gral .nav_gral .nav_menu .item_menu .opc_nav {
  color: rgb(28, 218, 231);
  text-decoration: none;
  padding: 0.7rem;
  align-content: center;
  text-align: center;
}
.contenedor_gral .nav_gral .nav_menu .item_menu .opc_nav:hover {
  background-color: rgb(28, 218, 231);
  color: black;
  border-radius: 20px;
}
.contenedor_gral .nav_gral .burger {
  flex-direction: column;
  cursor: pointer;
  display: none;
}
.contenedor_gral .nav_gral .burger .line {
  width: 30px;
  height: 3px;
  background-color: rgb(28, 218, 231);
  margin: 5px 0;
}
.contenedor_gral .div_der {
  grid-area: div_der;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 20px;
  align-content: center;
  justify-self: center;
}
.contenedor_gral .main {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  color: rgb(28, 218, 231);
  padding: 20px;
  justify-content: center;
}
.contenedor_gral .footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 20px;
}
.contenedor_gral .footer .h4_contacto {
  color: rgb(28, 218, 231);
  text-align: center;
}
.contenedor_gral .footer .h5_copy {
  color: rgb(28, 218, 231);
  text-align: center;
  font-size: x-small;
}
.contenedor_gral .footer .contenido-contacto {
  text-align: center;
}
.contenedor_gral .footer .contenido-contacto i {
  color: rgb(28, 218, 231);
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgb(28, 218, 231);
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 10px 5px;
  font-size: 20px;
}
.contenedor_gral .footer .contenido-contacto i:hover {
  background-color: rgb(28, 218, 231);
  color: black;
}

.main .div_video {
  text-align: center;
  padding: 10px;
  align-content: center;
}
.main .div_video .video_index {
  border-radius: 5%;
  width: 560px;
  height: 315px;
}
.main .div_parrafo {
  color: rgb(28, 218, 231);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: center;
}
.main .div_parrafo .parrafo_main {
  font-size: large;
}
.main .div_parrafo .download {
  color: rgb(28, 218, 231);
  justify-self: baseline;
  font-size: xx-large;
  animation-name: latido;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes latido {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.main .form {
  align-content: center;
  text-align: center;
}
.main .form .btn {
  background-color: gray;
  color: rgb(28, 218, 231);
  border-color: gray;
}

.main .div_comandos {
  align-content: center;
  margin-left: 10px;
}
.main .div_comandos .tabla_comandos {
  border: solid 1px rgb(28, 218, 231);
  padding: 0px;
  margin: 0px auto;
}
.main .div_comandos .tabla_comandos tr th {
  font-family: "Kanit", serif;
  border: solid 1px rgb(28, 218, 231);
  text-align: center;
}
.main .div_comandos .tabla_comandos tr .td_comandos {
  font-family: "Kanit", serif;
  border: solid 1px rgb(28, 218, 231);
  text-align: center;
}
.main .div_comandos .tabla_comandos tr .td_comandos .p_globalchat {
  color: #ff8284;
}
.main .div_comandos .tabla_comandos tr .td_comandos .p_citychat {
  color: #8482ff;
}
.main .div_comandos .tabla_comandos tr .td_comandos .p_guildchat {
  color: #b5ffb5;
}
.main .div_comandos .tabla_comandos tr .td_comandos .p_partychat {
  color: #e6e784;
}

.main .div_listmaps {
  margin: 100px;
  padding-right: 50px;
}
.main .div_listmaps .form-check-input {
  background-color: rgba(7, 7, 7, 0.932);
}
.main .div_listmaps .form-check-input:checked {
  background-color: rgb(28, 218, 231);
  border-color: rgb(28, 218, 231);
}
.main .div_mapas {
  height: 450px;
  width: 450px;
  overflow: auto;
  text-align: center;
}
.main .div_mapas .img_mapas {
  border: 2px double rgb(28, 218, 231);
  opacity: 0.4;
}
.main .div_mapas .img_mapas:hover {
  border: solid rgb(28, 218, 231);
  opacity: 1;
  border-radius: 10px;
}

.main .div_monsters {
  text-align: center;
}
.main .div_monsters .tabla_monsters .td_monsters {
  font-family: "Kanit", serif;
  border: solid 1px rgb(28, 218, 231);
  margin: auto;
  padding: 5px;
}
.main .div_monsters .tabla_monsters .td_monsters:hover {
  background-color: rgba(177, 165, 165, 0.39);
  color: black;
}

/*Utlizacion de mixin*/
.main .item_regla {
  font-family: "Nunito", serif;
  list-style-type: upper-roman;
  margin: 0 20px;
  padding: 1px;
}
.main .accordion {
  text-align: center;
  align-content: center;
  border: none;
}
.main .accordion .accordion-item {
  align-items: center;
  color: rgb(28, 218, 231);
  background-color: transparent;
  border: none;
}
.main .accordion .accordion-item .accordion-button {
  color: rgb(28, 218, 231);
  font-weight: bold;
  border-bottom: gray;
  background-color: gray;
  border: none;
}
.main .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: rgb(28, 218, 231);
  background-color: gray;
  box-shadow: gray;
}

.main_404 .error-404 {
  text-align: center;
  align-content: center;
  padding-top: 50px;
}
.main_404 .error-404 .back-home {
  color: rgb(28, 218, 231);
  font-size: medium;
}

@media screen and (max-width: 1490px) {
  .main_index {
    flex-direction: column;
    align-items: center;
  }
  .main_index .div_parrafo {
    margin: 0 120px;
  }
}
@media screen and (max-width: 1399px) {
  .container_gral {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  .main .div_parrafo {
    margin: 0px 100px;
  }
  .div_der {
    display: none;
  }
  .div_izq {
    display: none;
  }
  .footer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main .div_parrafo {
    margin: 0px 50px;
  }
  .contenedor_gral .nav_gral .nav_menu {
    gap: 50px;
  }
  .div_listmaps {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin: 40px;
  }
  .div_listmaps .form-check {
    padding-left: 3em;
  }
}
@media screen and (max-width: 900px) {
  .contenedor_gral .nav_gral .nav_menu {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor_gral {
    margin: 0px;
  }
  .contenedor_gral .header {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contenedor_gral .header .img_logoDer {
    display: none;
  }
  .contenedor_gral .header .img_logoIzq {
    height: 100px;
  }
  .contenedor_gral .header .titulo {
    padding-top: 0px;
  }
  .contenedor_gral .nav_gral {
    /* position: relative;*/
    justify-content: end;
  }
  .contenedor_gral .nav_gral .burger {
    display: flex;
  }
  .contenedor_gral .nav_gral .nav_menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    top: 100%;
  }
  .contenedor_gral .nav_gral .nav_menu.active {
    padding: 0px;
    display: flex;
  }
  .contenedor_gral .main {
    padding: 0px;
  }
  .contenedor_gral .main .div_parrafo {
    margin: 0px;
  }
  .contenedor_gral .footer {
    margin: 0px;
  }
}
@media screen and (max-width: 600px) {
  .main .div_video .video_index {
    width: 370px;
    height: 250px;
  }
  .main .div_listmaps {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
