    .main_404 {
        
        .error-404 {
            text-align: center;
            align-content: center;
            padding-top: 50px;
            
            .back-home{
                color:  rgb(28, 218, 231);
                font-size: medium;
            }
        }
    }
