.main{
    
    .form{
        align-content: center;
        text-align: center;

        .btn{
            background-color: gray;
            color: rgb(28, 218, 231);
            border-color: gray;
        }
    }

}