@media screen and (max-width: 1490px) {


    .main_index {

        flex-direction: column;
        align-items: center;

        .div_parrafo {

            margin: 0 120px;
        }
    }

}

@media screen and (max-width: 1399px) {

    .container_gral {

        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";

    }

    .main {

        .div_parrafo {

            margin: 0px 100px;
        }
    }

    .div_der {
        display: none;
    }

    .div_izq {
        display: none;
    }

    .footer {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1199px) {

    .main {

        flex-direction: column;
        align-items: center;

        .div_parrafo {

            margin: 0px 50px;
        }
    }


    .div_listmaps {
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        margin: 40px;

        .form-check {
            padding-left: 3em;
        }
    }

}

@media screen and (max-width: 768px) {

    .contenedor_gral {

        margin: 0px;

        .header {
            flex-direction: column;
            margin: 0;
            padding: 0;

            .img_logoDer {
                display: none;
            }

            .img_logoIzq {

                height: 100px;
            }

            .titulo {
                padding-top: 0px;
            }
        }

        .nav_gral {

            margin: 0px;

            .nav_menu {
                margin: 0px;
                align-items: center;
                flex-direction: column;
                padding-left: 0rem;

                .item_menu {
                    .opc_nav {}

                    .opc_nav:hover {
                        background-color: transparent;
                        border-radius: 10px;
                    }
                }
            }
        }

        .main {
            padding: 0px;

            .div_parrafo {

                margin: 0px;
            }
        }

        .footer {
            margin: 0px;
        }
    }
}

@media screen and (max-width: 600px) {

    .main {
        .div_video {
            .video_index {
                width: 370px;
                height: 250px;
            }

        }

        .div_listmaps {
            margin: 0px;
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }

}