/*Utlizacion de mixin*/

@mixin colorFondo($color){
    background-color: $color;
}

.main {

    .item_regla {
        font-family: "Nunito", serif;
        list-style-type: upper-roman;
        margin: 0 20px;
        padding: 1px;
    }

    .accordion {
        text-align: center;
        align-content: center;
        border: none;

        .accordion-item {
            align-items: center;
            color: rgb(140, 148, 145);
            @include colorFondo(transparent);
            border: none;

            .accordion-button {
                color: rgba(7, 7, 7, 0.932);
                @include colorFondo( rgb(140, 148, 145));
                border: none;

                &:not(.collapsed) {
                    color: rgba(7, 7, 7, 0.932);
                    @include colorFondo( rgb(140, 148, 145));
                    box-shadow: rgb(140, 148, 145);
                }
            }
        }
    }
}