@forward "reset_body";
@forward "contenedor_gral";
@forward "index_main";
@forward "cuenta_main";
@forward "comandos_main";
@forward "mapas_main";
@forward "monsters_main";
@forward "reglas_main";
@forward "404main";
@forward "queries";





